body{
  font-family: Helvetica, sans-serif;
}

header{
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  svg{
    height: 45px;
    width: 45px;
    margin: 0px;
  }
}

button, input{
  &:focus{
    outline: none;
  }
}
